<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6G3hFuDPyqPHj3JH1uziNXSqnaLg6qKA</string>
	<key>GCM_SENDER_ID</key>
	<string>820133144348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dig.chefit</string>
	<key>PROJECT_ID</key>
	<string>chef-it-fdbea</string>
	<key>STORAGE_BUCKET</key>
	<string>chef-it-fdbea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820133144348:ios:8800f8fb8659a0da523cd9</string>
</dict>
</plist>